{
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "proseWrap": "never",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "flow"
    }
  ],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
